@use "../abstracts/variables" as *;
@use "../base/colors" as *;

.cafe-details {
    .parallax {
        background-image: url("../assets/images/cafe.webp");
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .white-border {
        border-top: 2px solid $white;
    }

    .preheadline {
        padding-top: 4rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 4rem 0;

        .detail {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border: 1px solid $white;
            width: 18.75rem;
            padding: 0.4rem 1rem;
        }
    }
}

@media (min-width: $t-landscape) {
    .cafe-details {
        .details {
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
        }
    }
}