@use "../abstracts/variables" as *;

.keyfacts {
    .facts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 4rem 4rem 0 4rem;

        .fact {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: calc(390px - 8rem);

            .space {
                display: none;
            }
        }
    }
}

@media (min-width: $t-portrait) {
    .keyfacts {
        .facts {
            flex-direction: row;
            padding: 4rem 0 0 0;
            gap: 2rem;
            justify-content: center;
            align-items: flex-start;

            .fact {
                padding: 0;
            }
        }
    }
}

@media (min-width: $t-landscape) {
    .keyfacts {
        .facts {
            .fact {
                h4 {
                    height: 3rem;
                }

                .br:nth-of-type(1) {
                    display: none;
                }

                .space {
                    display: inline-block;
                }
            }
        }
    }
}

@media (min-width: $d-small) {
    .keyfacts {
        .facts {
            gap: 4rem;
        }
    }
}