@use "../abstracts/variables" as *;
@use "colors" as *;
@use "fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.module-wrapper {
    margin: 8rem 0;

    &:last-of-type {
        margin: 0;
    }

    &.white-bg {
        background: $white-bg;
    }

    &.black-bg {
        background: $black-bg;
    }

    &.beige-bg {
        background: $beige-bg;
        padding: 4rem 0;
    }

    .module {
        margin: 0 auto;
        padding: 0 1rem;

        .image-wrapper {
            width: 100vw;
            height: 50vh;
            overflow: hidden;
            margin-left: -1rem;

            img {
                &.full-width-on-mobile {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
}

@media (min-width: $p-portrait) and (max-width: $t-portrait) {
    .module-wrapper {
        .module {
            padding: 0 6rem;

            .image-wrapper {
                height: 80vh;
                margin-left: -6rem;
            }
        }
    }
}

@media (min-width: $t-portrait) {
    .module-wrapper {
        .module {
            padding: 0 4rem;

            .image-wrapper {
                margin-left: 0;

                &.cafe {
                    height: 120vh;
                    margin-left: -4rem;
                }
            }

            div {
                &.w-50-desktop {
                    width: 50%;
                    height: 100%;
                    place-content: center;
                }
            }
        }
    }
}