@font-face {
  font-family: 'ABChanelCorpo';
  src: url('../assets/fonts/ABChanelCorpo-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: local('Helvetica Light'), url('helvetica-light-587ebe5a59211.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }

$font-primary: 'ABChanelCorpo', sans-serif;
$font-secondary: 'Helvetica Light', sans-serif;